body {
    background-color: darkcyan;
}

h1 {
    color: firebrick;
    font-size: 40px;
    text-align: center;
}

p {
    color: darkmagenta;
    font-size: 30px;
    text-align: center;
}

form {
    text-align: center;
}

label {
    color: yellow;
    font-size: 30px;
}

input {
    color: firebrick;
    font-size: 30px;
    width: 150px;
    text-align: center;
    margin-right: 10px;
}
